In [88]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import os
from datetime import datetime
import pandas as pd
import numpy as np
# # Set up the WebDriver
# 
# \
user_home = os.path.expanduser("~")

# Construct the download directory path
download_dir = os.path.join(user_home, "Downloads")
# Get a list of filenames in the directory
file_list = os.listdir(download_dir)
# Sort the file list based on date modified

sorted_file_list = sorted(file_list, key=lambda x: os.path.getmtime(os.path.join(download_dir, x)))

# # Print the sorted list of filenames
# for filename in sorted_file_list:
#     file_path = os.path.join(download_dir, filename)
#     modified_time = os.path.getmtime(file_path)
#     # Format the modification timestamp
#     formatted_time = datetime.fromtimestamp(modified_time).strftime('%d-%m-%Y %H:%M:%S')
#     print(f"{filename} - Last Modified: {formatted_time}")
if sorted_file_list[-1].endswith(".csv"):
    file_path = os.path.join(download_dir, sorted_file_list[-1])
    df = pd.read_csv(file_path)
date_columns=['Record Date', 'Issue Open', 'Issue Close']
# Format string to match the input date format
date_input_format = "%b %d, %Y"
for col in date_columns:
    df[col]= pd.to_datetime(df[col], format = date_input_format)
df = df[['Company Name', 'Record Date', 'Issue Open', 'Issue Close',
        'BuyBack price (Per Share)', 'Current Market Price',
       'Issue Size - Shares (Cr)', 'Issue Size - Amount (Cr)']]
df = df.dropna(subset=['Record Date'])
today = datetime.today()      #.strftime('%Y-%m-%d')

df['Record Date Diff'] = (today - df['Record Date']).dt.days
df['Apply Date Diff'] = (today - df['Issue Open']).dt.days
df['Closed Date Diff'] = (today - df['Issue Close']).dt.days
cdf = df[(df['Closed Date Diff'] <= 0 )]
nadf = df[df['Closed Date Diff'].isna()]
df = pd.concat([cdf, nadf], ignore_index = True)
for col in date_columns:
    df[col]= pd.to_datetime(df[col]).dt.date

df['Profit']= df['BuyBack price (Per Share)'] - df['Current Market Price']
minimum_price_difference = 100
df = df[(df['Profit'] >= minimum_price_difference )]

df = df[['Company Name', 'Record Date', 'Issue Open', 'Issue Close', 'Profit',
       'Issue Size - Shares (Cr)', 'Issue Size - Amount (Cr)', 'BuyBack price (Per Share)', 'Current Market Price']]
try:
    # Delete the file
    os.remove(file_path)
    print(f"File '{file_path}' has been deleted.")
except FileNotFoundError:
    print(f"File '{file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

In [84]:
df

,Company Name,Record Date,Issue Open,Issue Close,Profit,Issue Size - Shares (Cr),Issue Size - Amount (Cr),BuyBack price (Per Share),Current Market Price
0,Aarti Drugs Limited,2023-08-04,2023-08-09,2023-08-17,317.70,0.07,59.85,900,582.30
2,Piramal Enterprises Limited,2023-08-25,NaT,NaT,209.85,1.40,1750.00,1250,1040.15

In [87]:
import tkinter as tk
from tkinter import ttk
import pandas as pd


# Create the main window
root = tk.Tk()
root.title("DataFrame Display")

# Create a treeview widget for displaying the DataFrame
treeview = ttk.Treeview(root, columns=list(df.columns), show="headings")
column_names = df.columns.tolist()

# Set column headings in the treeview
for index, column in enumerate(column_names):
    treeview.heading(f"#{index+1}", text=column)

# Insert DataFrame rows into the treeview
for index, row in df.iterrows():
    formatted_values = []
    for value in row:
        if isinstance(value, (int, float)):
            formatted_values.append("{:.2f}".format(value))
        else:
            formatted_values.append(value)
    treeview.insert("", index, values=formatted_values)
    #treeview.insert("", index, values=row.tolist())

treeview.pack()

# Start the tkinter main loop
root.mainloop()

In [10]:
import pandas as pd
import requests

url = 'https://www.chittorgarh.com/report/latest-buyback-issues-in-india/80/tender-offer-buyback/'
Headers=({'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/111.0' , 'Accept-language':'en-US , en;q=0.5'})
response = requests.get(url, headers=Headers)

if response.status_code == 200:
    tables = pd.read_html(response.text)
    desired_table = tables[2]
    print(desired_table)
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")

                                  Company Name   Record Date    Issue Open  \
0                     Sinclairs Hotels Limited           NaN           NaN
1                                 KRBL Limited  Aug 25, 2023           NaN
2                                  FDC Limited  Aug 25, 2023           NaN
3                Control Print (India) Limited  Aug 18, 2023           NaN
4                  Piramal Enterprises Limited  Aug 25, 2023           NaN
5                      Larsen & Toubro Limited           NaN           NaN
6                          Aarti Drugs Limited  Aug 04, 2023  Aug 09, 2023
7                  Indiamart Intermesh Limited  Aug 25, 2023           NaN
8                      Ashiana Housing Limited  Jul 28, 2023  Aug 02, 2023
9                Goldiam International Limited  Jul 21, 2023  Jul 27, 2023
10                    James Warren Tea Limited  Jul 18, 2023  Jul 24, 2023
11                                 BSE Limited           NaN           NaN
12              Amrutanjan Health Care Limited  Jul 13, 2023  Jul 19, 2023
13                               Wipro Limited  Jun 16, 2023  Jun 22, 2023
14                        Axita Cotton Limited  Jun 02, 2023  Jun 08, 2023
15            Hinduja Global Solutions Limited  Mar 06, 2023  May 22, 2023
16                       Welspun India Limited  May 10, 2023  May 16, 2023
17                  TeamLease Services Limited  Apr 03, 2023  May 12, 2023
18                            Symphony Limited  Mar 29, 2023  May 03, 2023
19              Godawari Power & Ispat Limited  Mar 31, 2023  Apr 10, 2023
20                       Ajanta Pharma Limited  Mar 24, 2023  Mar 31, 2023
21                 Welspun Enterprises Limited  Feb 13, 2023  Mar 16, 2023
22                         Sportking India Ltd  Feb 10, 2023  Mar 15, 2023
23  Abirami Financial Services (India) Limited  Jan 27, 2023  Mar 14, 2023
24                       VRL Logistics Limited  Feb 10, 2023  Mar 13, 2023
25                       Softsol India Limited  Jan 13, 2023  Mar 03, 2023
26                        Jagran Prakashan Ltd  Jan 06, 2023  Mar 02, 2023
27  Triveni Engineering and Industries Limited  Dec 23, 2022  Feb 16, 2023
28                     eClerx Services Limited  Dec 27, 2022  Feb 03, 2023
29      Technocraft Industries (India) Limited  Dec 30, 2022  Feb 01, 2023
30                       KAMA Holdings Limited  Dec 23, 2022  Jan 31, 2023
31                     Tips Industries Limited  Dec 30, 2022  Jan 27, 2023
32                         Cosmo First Limited  Dec 14, 2022  Jan 27, 2023
33                     Triveni Turbine Limited  Dec 23, 2022  Jan 17, 2023

     Issue Close  Buyback Type  BuyBack price (Per Share)  \
0            NaN  Tender Offer                        200
1            NaN  Tender Offer                        500
2            NaN  Tender Offer                        500
3            NaN  Tender Offer                        800
4            NaN  Tender Offer                       1250
5            NaN  Tender Offer                       3000
6   Aug 17, 2023  Tender Offer                        900
7            NaN  Tender Offer                       4000
8   Aug 08, 2023  Tender Offer                        301
9   Aug 02, 2023  Tender Offer                        150
10  Jul 28, 2023  Tender Offer                        250
11           NaN  Tender Offer                        816
12  Jul 25, 2023  Tender Offer                        900
13  Jun 30, 2023  Tender Offer                        445
14  Jun 14, 2023  Tender Offer                         56
15  Jun 02, 2023  Tender Offer                       1700
16  May 22, 2023  Tender Offer                        120
17  May 25, 2023  Tender Offer                       3050
18  May 17, 2023  Tender Offer                       2000
19  Apr 17, 2023  Tender Offer                        500
20  Apr 10, 2023  Tender Offer                       1425
21  Mar 31, 2023  Tender Offer                        200
22  Mar 29, 2023  Tender Offer                        950
23  Mar 29, 2023  Tender Offer                         28
24  Mar 27, 2023  Tender Offer                        700
25  Mar 17, 2023  Tender Offer                        170
26  Mar 16, 2023  Tender Offer                         75
27  Mar 01, 2023  Tender Offer                        350
28  Feb 16, 2023  Tender Offer                       1750
29  Feb 14, 2023  Tender Offer                       1000
30  Feb 13, 2023  Tender Offer                      14500
31  Feb 09, 2023  Tender Offer                       2600
32  Feb 09, 2023  Tender Offer                       1070
33  Jan 31, 2023  Tender Offer                        350

    Current Market Price  Issue Size - Shares (Cr)  Issue Size - Amount (Cr)  \
0                 160.30                      0.15                     30.40
1                 403.90                      0.65                    325.00
2                 406.70                      0.31                    155.00
3                 707.80                      0.03                     27.00
4                1025.05                      1.40                   1750.00
5                2638.10                      3.33                  10000.00
6                 574.35                      0.07                     59.85
7                3135.65                      0.13                    500.00
8                 203.65                      0.18                     55.00
9                 127.80                      0.22                     32.69
10                243.00                      0.07                     17.50
11                   NaN                      0.46                    374.80
12                627.75                      0.03                     28.80
13                413.00                     26.97                  12000.00
14                 26.26                      0.09                      5.04
15               1020.10                      0.60                   1020.00
16                117.90                      1.63                    195.00
17               2293.70                      0.03                    100.00
18                888.80                      0.10                    200.00
19                578.65                      0.50                    250.00
20               1722.80                      0.22                    315.00
21                283.00                      1.18                    235.00
22                778.90                      0.06                     55.10
23                 26.71                      0.06                      1.68
24                680.75                      0.09                     61.25
25                237.20                      0.21                     35.00
26                101.95                      4.60                    345.00
27                290.10                      2.29                    800.00
28               1708.80                      0.17                    300.00
29               1651.00                      0.15                    150.00
30              12201.70                      0.00                     50.03
31                312.60                      0.01                     32.76
32                642.00                      0.10                    108.00
33                400.15                      0.54                    190.00

    Compare
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
31      NaN
32      NaN
33      NaN

In [13]:
type(tables[2])

pandas.core.frame.DataFrame